<?xml version="1.0"?>
<!--
/**
 * Copyright (C) 2026 Scoria Labs GmbH
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="CaptchaFox\Core\Model\Webapi\EndpointConfig">
        <arguments>
            <argument name="endpoints" xsi:type="array">
                <!-- REST -->
                <item name="rest_customer_create" xsi:type="array">
                    <item name="class" xsi:type="string">
                        Magento\Customer\Api\AccountManagementInterface</item>
                    <item name="method" xsi:type="string">createAccount</item>
                    <item name="form" xsi:type="string">register</item>
                </item>
                <item name="rest_customer_password_reset" xsi:type="array">
                    <item name="class" xsi:type="string">
                        Magento\Customer\Api\AccountManagementInterface</item>
                    <item name="method" xsi:type="string">initiatePasswordReset</item>
                    <item name="form" xsi:type="string">password</item>
                </item>
                <item name="rest_customer_token" xsi:type="array">
                    <item name="class" xsi:type="string">
                        Magento\Integration\Api\CustomerTokenServiceInterface</item>
                    <item name="method" xsi:type="string">createCustomerAccessToken</item>
                    <item name="form" xsi:type="string">login</item>
                </item>
                <!-- GraphQL -->
                <item name="graphql_contact_us" xsi:type="array">
                    <item name="class" xsi:type="string">
                        Magento\ContactGraphQl\Model\Resolver\ContactUs</item>
                    <item name="method" xsi:type="string">resolve</item>
                    <item name="form" xsi:type="string">contact</item>
                </item>
                <item name="graphql_customer_create" xsi:type="array">
                    <item name="class" xsi:type="string">
                        Magento\CustomerGraphQl\Model\Resolver\CreateCustomer</item>
                    <item name="method" xsi:type="string">resolve</item>
                    <item name="form" xsi:type="string">register</item>
                </item>
                <item name="graphql_customer_token" xsi:type="array">
                    <item name="class" xsi:type="string">
                        Magento\CustomerGraphQl\Model\Resolver\GenerateCustomerToken</item>
                    <item name="method" xsi:type="string">resolve</item>
                    <item name="form" xsi:type="string">login</item>
                </item>
                <item name="graphql_password_reset" xsi:type="array">
                    <item name="class" xsi:type="string">
                        Magento\CustomerGraphQl\Model\Resolver\RequestPasswordResetEmail</item>
                    <item name="method" xsi:type="string">resolve</item>
                    <item name="form" xsi:type="string">password</item>
                </item>
                <item name="graphql_newsletter_subscribe" xsi:type="array">
                    <item name="class" xsi:type="string">
                        Magento\NewsletterGraphQl\Model\Resolver\SubscribeEmailToNewsletter</item>
                    <item name="method" xsi:type="string">resolve</item>
                    <item name="form" xsi:type="string">newsletter</item>
                </item>
                <item name="graphql_product_review" xsi:type="array">
                    <item name="class" xsi:type="string">
                        Magento\ReviewGraphQl\Model\Resolver\CreateProductReview</item>
                    <item name="method" xsi:type="string">resolve</item>
                    <item name="form" xsi:type="string">review</item>
                </item>
                <item name="graphql_send_friend" xsi:type="array">
                    <item name="class" xsi:type="string">
                        Magento\SendFriendGraphQl\Model\Resolver\SendEmailToFriend</item>
                    <item name="method" xsi:type="string">resolve</item>
                    <item name="form" xsi:type="string">send-friend</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>