<?xml version="1.0"?>
<!--
/**
 * Copyright (C) 2026 Scoria Labs GmbH
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="CaptchaFox\Core\Observer\Validate\Frontend">
        <arguments>
            <argument name="persistor" xsi:type="object">
                CaptchaFox\Core\Model\Persistor\Frontend</argument>
        </arguments>
    </type>
    <virtualType name="CaptchaFox\Core\Observer\Validate\Frontend\Contact"
        type="CaptchaFox\Core\Observer\Validate\Frontend">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="form" xsi:type="string">contact</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="CaptchaFox\Core\Observer\Validate\Frontend\ForgotPassword"
        type="CaptchaFox\Core\Observer\Validate\Frontend">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="form" xsi:type="string">password</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="CaptchaFox\Core\Observer\Validate\Frontend\CreateAccount"
        type="CaptchaFox\Core\Observer\Validate\Frontend">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="form" xsi:type="string">register</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="CaptchaFox\Core\Observer\Validate\Frontend\Login"
        type="CaptchaFox\Core\Observer\Validate\Frontend">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="form" xsi:type="string">login</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="CaptchaFox\Core\Observer\Validate\Frontend\AjaxLogin"
        type="CaptchaFox\Core\Observer\Validate\Frontend">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="form" xsi:type="string">login-ajax</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="CaptchaFox\Core\Observer\Validate\Frontend\Review"
        type="CaptchaFox\Core\Observer\Validate\Frontend">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="form" xsi:type="string">review</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="CaptchaFox\Core\Observer\Validate\Frontend\SendFriend"
        type="CaptchaFox\Core\Observer\Validate\Frontend">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="form" xsi:type="string">send-friend</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="CaptchaFox\Core\Observer\Validate\Frontend\Newsletter"
        type="CaptchaFox\Core\Observer\Validate\Frontend">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="form" xsi:type="string">newsletter</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="CaptchaFox\Core\Model\Persistor\Frontend">
        <arguments>
            <argument name="reviewSession" xsi:type="object">Magento\Review\Model\Session</argument>
        </arguments>
    </type>
    <preference for="CaptchaFox\Core\Model\ConfigProviderInterface"
        type="CaptchaFox\Core\Model\ConfigProvider\Frontend" />
</config>