<?xml version="1.0"?>
<!--
/**
 * Copyright (C) 2026 Scoria Labs GmbH
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="CaptchaFox\Core\Observer\Validate\Admin\ForgotPassword"
        type="CaptchaFox\Core\Observer\Validate\Admin">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="form" xsi:type="string">password</item>
            </argument>
        </arguments>
    </virtualType>
    <preference for="CaptchaFox\Core\Model\ConfigProviderInterface"
        type="CaptchaFox\Core\Model\ConfigProvider\Adminhtml" />
</config>
