<?xml version="1.0"?>
<!--
/**
 * Copyright (C) 2026 Scoria Labs GmbH
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_adminhtml_auth_forgotpassword">
        <observer name="captchafox_validate_admin_password"
            instance="CaptchaFox\Core\Observer\Validate\Admin\ForgotPassword" />
    </event>
    <event name="admin_user_authenticate_before">
        <observer name="captchafox_validate_admin_login"
            instance="CaptchaFox\Core\Observer\Validate\AdminLogin" />
    </event>
</config>